.app-screenshot {
  width: 20rem;
}

.test-case-container {
  display: inline-block;
  margin: 1rem;
  background-color: lightgray;
}

.test-name {
  margin-left: 1rem;
}

.status-success {
  background-color: #008000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  text-align: center;
}

.status-failure {
  background-color: red;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  text-align: center;
}
